.player {
  height: 50px;
  width: 50px;
  position: absolute;
  background: yellowgreen;
  top: 450px;
}

.container {
  height: 500px;
  width: 800px;
  position: relative;
  background: black;
}

.arrow {
  background: red;
  position: absolute;
  width: 20px;
  height: 10px;
}
