.player {
  height: 50px;
  width: 50px;
  position: absolute;
  background: yellowgreen;
  top: 450px;
  width: 40px;
}

.container {
  height: 500px;
  width: 800px;
  position: relative;
  background: black;
}

.floor{
  height: 10px;
  width: 100px;
  background: greenyellow;

  position: absolute;
}

#floor1{
  top: 450px;
  left: 100px;
}

#floor2{
  top: 400px;
  left: 200px;
}
